.customMarginTop {
    margin-top: 12px; /* Adjust the value as needed */
}

.personIcon {
    width: 1.5rem; /* Adjust the size as needed */
    height: 1.5rem; /* Adjust the size as needed */
    margin-right: 0.5rem; /* Adjust the spacing as needed */
}
